In [1]:
import pandas as pd
from sklearn import neighbors
from sklearn.multioutput import MultiOutputClassifier
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv("../data/prepared_data/dataset.csv")
models = dataset["model"]
dataset.head()

,machineID,datetime,error1,error2,error3,error4,error5,total_error,error1_24,error2_24,...,model1,model2,model3,model4,comp1,comp2,comp3,comp4,total_failure,failure_bool
0,1,2015-01-01 09:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0.0,0.0,0.0,0.0,0.0,False
1,1,2015-01-01 12:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0.0,0.0,0.0,0.0,0.0,False
2,1,2015-01-01 15:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0.0,0.0,0.0,0.0,0.0,False
3,1,2015-01-01 18:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0.0,0.0,0.0,0.0,0.0,False
4,1,2015-01-01 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0.0,0.0,0.0,0.0,0.0,False

In [3]:
y = dataset[["comp1","comp2","comp3","comp4"]].to_numpy()
X = dataset.drop(columns=["machineID","datetime","total_error","total_error_24", "model","comp1","comp2","comp3","comp4","total_failure", "failure_bool"]).to_numpy()

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.5, stratify=models)